<page-header></page-header>
<nz-card nzTitle="菜单列表">
  <div nz-row nzGutter="24" style="margin-bottom: 8px;">
    <div nz-col nzMd="12" nzLg="12">
        <button nz-button [acl]="'menuAdd'" (click)="openEdit($event)" [nzType]="'primary'" style="margin-bottom: 8px;">
            <i nz-icon type="plus"></i>
            <span>新建</span>
        </button>
      </div>
      <div nz-col nzMd="12" nzLg="12" class="text-right">
        <sf #menuSf mode="search" [schema]="searchSchema" (formSubmit)="searchMenu($event)" (formReset)="resetMenu($event)"></sf>
      </div>
  </div>
  <nz-table #menuTable [nzData]="menuTreeListData" nzSize="middle" [nzPageIndex]="pi" [nzPageSize]="ps"  [nzTotal]="total" [nzShowTotal]="totalTemplate" (nzPageIndexChange)="pageIndexChange($event)" [nzFrontPagination]=false >
    <thead>
      <tr>
        <th class="text-center">菜单名称</th>
        <th class="text-center">图标及样式</th>
        <th class="text-center">访问地址</th>
        <th class="text-center">菜单顺序</th>
        <th class="text-center">创建时间</th>
        <th class="text-center">最近修改人</th>
        <th class="text-center">最近修改时间</th>
        <th class="text-center" nzWidth="15%">操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-template #totalTemplate let-total>
        共 {{total}} 条
      </ng-template>
      <ng-template ngFor let-data [ngForOf]="menuTable.data">
        <ng-template ngFor let-item [ngForOf]="expandDataCache[data.id]">
          <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
            <td [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.id],item,$event)">
              {{item.text}}
            </td>
            <td>
              <i nz-icon [type]="item.icon.value" [theme]="item.icon.theme"></i>&nbsp;-&nbsp;{{item.icon.value}}
            </td>
            <td>{{item.link}}</td>
            <td class="text-center">{{item.sort}}</td>
            <td class="text-center">{{item.createDate | date:'yyyy年MM月dd日 HH:mm'}}</td>
            <td class="text-center">{{item.updateName}}</td>
            <td class="text-center">{{item.updateDate | date:'yyyy年MM月dd日 HH:mm'}}</td>
            <td class="text-center">
              <a class="text-gold-light" (click)="openView(item)"><i nz-icon type="eye" theme="outline"></i>查看</a><nz-divider nzType="vertical"></nz-divider>
              <a class="text-blue-light" [acl]="'menuEdit'" (click)="openEdit(item)"><i nz-icon type="edit" theme="outline"></i>编辑</a><nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="delMenu(item)" [nzTitle]="'确认删除此菜单及其子菜单吗？'">
                <a class="text-red-light" [acl]="'menuDel'" nz-popconfirm><i nz-icon type="delete" theme="outline"></i>删除</a>
              </nz-popconfirm>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
